/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width:768px) { 

    .carousel-caption h3{
         font-size: 10px; 
         display: none; 
    }
    .carousel-caption p{
        font-size: 5px;
        display: none; 
   }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }
