<!DOCTYPE html>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<div class ="container">
<ngb-carousel >
    <ng-template ngbSlide>
      <img style = "max-width:100%; height: auto;"src="../assets/carousel1.jpg">
      <div class="carousel-caption">
        <h3>Nicole's Pederson Photography</h3>
        <p>Minneapolis/Saint Paul Wedding and Couples Photographer</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img style = "max-width:100%; height: auto;" src="../assets/carousel2.jpg">
        <div class="carousel-caption">
        <h3>Nicole's Pederson Photography</h3>
        <p>Minneapolis/Saint Paul Wedding and Couples Photographer</p>
      </div>
    </ng-template>
  </ngb-carousel>
