<br>
<div  class="container">
  <div class="row">
    <div align="center" class="col-xl-4 col-lg-1">
      <h1>Weddings</h1>
      <div style="border: #000000 6px outset;">
        <a href="google.com"><img  src="../assets/weddingFrontPage1.jpg" style="max-width:100%; height: auto;"></a>
      </div>
    </div>
    <div align="center" class="col-xl-4 col-lg-1">
      <h1>Couples</h1>
      <div style="border: #8B8B8B 6px outset;">

        <a href="google.com"><img src="../assets/couplesFrontPage1.jpg" style="max-width:100%; height: auto;" ></a>
      </div>
    </div>
    <div align="center" class="col-xl-4 col-lg-1">
      <h1>Professional</h1>
      <div style="border: #0A0A0A 6px outset;">

        <a href="google.com"><img src="../assets/professionalFrontPage1.jpg" style="max-width:100%; height: auto;" ></a>
      </div>
  </div>
  </div>
</div>