<!DOCTYPE html>


<div class="container" >
  <h1>About Me</h1>


<div class="row">
  <div class="col-md-8">
    <p>I am a photographer whose greatest enjoyment comes from shooting a little bit of everything! My main goal is to photograph
      genuinely with empathy and respect for subjects. This means I enjoy shooting candid moments and portraits with natural
      expressions and posing. My photographic style is simple, bright, and narrative. I want to tell the story of an event
      or person in photos.</p>
  </div>
</div>
</div>